@import url(https://fonts.googleapis.com/css?family=Poiret+One);


header {
	background-color: #FFED74;
	border: 1em black solid;
	padding: 20em;
}

nav {
	background-color: #E8C66A;
	border: 1em black solid;
	padding: 20em;
}
}


article {
	background-color: #E89C6C;
	border: 1em black solid;
	padding: 20em;
}


footer {
	background-color: #FF957E;
	border: 1em black solid;
	padding: 20em;
}


div/section {
	background-color: #FFE2B8;
	border: 1em black solid;
	padding: 20em;
}



body {
	background-color: rgb(171, 255, 253);
	font-family: 'Poiret One', cursive;

}

h1 {
color: rgb(60, 113, 265);

}

p {
	color: rgb(60, 113, 265);
	font-family: 'Poiret One', cursive;

}

p2 {
	color: rgb(60, 113, 265);
	font-family: 'Poiret One', cursive;
	
}

#slogan {
	font-style: italic;
	color: rgb(60, 113, 265);
	font-family: 'Poiret One', cursive;

}

img {
	margin: auto;
	display: block;
}

ul {
	color: rgb(60, 113, 265);

}

#two_column {
	background-color: #FFB7CF;
	border: 1em black solid;
	padding: 20em;
}

#left {
	background-color: violet;
	border: 1em black solid;
	padding: 20em;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1em black solid;
	padding: 20em;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
